@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-text antialiased;
}

.section-offset {
  scroll-margin-top: 5.5rem;
}
